<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of shows">
    <td>{{i.id}}</td>
    <td>{{i.name}}</td>
    <td>{{i.description}}</td>

    <td> <button (click)="Update(i)"  class="btn btn-success" >Change</button> </td>
    <td> <button (click)="Delete(i)"  class="btn btn-success" >Delete</button> </td>

    <td *ngIf="i.movie"> <button (click)="AddProjection(i)"  class="btn btn-success" >
      Add projection</button> </td>
    <td *ngIf="!i.movie"> <button (click)="AddPerformance(i)"  class="btn btn-success" >
      Add performance</button> </td>

    <td *ngIf="i.movie"> <button (click)="ListProjections(i)" class="btn btn-success"> All projections </button> </td>
    <td *ngIf="!i.movie"> <button (click)="ListPerformances(i)" class="btn btn-success"> All performances </button> </td>

  </tr>
  </tbody>
</table>
