<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-0 col-sm-12">
        <div class="jumbotron">
          <div class="h3 text-center">
            Profile picture
          </div>
          <div class="h2 text-left">{{account.name}} {{account.lastName}}</div>
        </div>
      </div>
    </div>
    <tabset [justified]="true">
      <tab heading="About">User info</tab>
      <tab heading="Friends">
        <div class="col-lg-6">
          <form [formGroup]="form" (ngSubmit)="sendRequest()" accept-charset="UTF-8">
            <label for="username">Add by username:</label>
              <div class="form-group">
                <input
                  formControlName="username"
                  id="username" 
                  placeholder="username..." 
                  type="text" 
                  class="form-control"/>
                  <button class="btn btn-default" type="submit">Add</button>
              </div>
          </form>
        </div>
        <div class="row"></div>
        <div class="friend-list">
          <div *ngFor="let friend of friends" class="friend">
            <div class="col-sm-6 friend-content">
              <table>
                <td rowspan=2>
                  <img src={{friend.image}} class="user-image" *ngIf="friend.image">
                  <img src="../../../assets/images/userprofile.png" class="user-image" *ngIf="!friend.image">
                </td>
                <td>
                  <tr>
                    {{friend.username}}
                  </tr>
                </td>
                <td rowspan=2>
                  <button type="button" (click)="remove(friend.username)" class="btn btn-primary" style="background-color:#791c1c">Remove</button>
                </td>
              </table>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Friend requests">
          <div class="friend-list">
              <div *ngFor="let request of requests" class="friend">
                <div class="col-sm-6 friend-content">
                  <table>
                    <td rowspan=2>
                      <img src={{request.image}} class="user-image" *ngIf="request.image">
                      <img src="../../../assets/images/userprofile.png" class="user-image" *ngIf="!request.image">
                    </td>
                    <td>
                      <tr>
                        {{request.username}}
                      </tr>
                    </td>
                    <td rowspan=2>
                      <button type="button" (click)="accept(request.username)" class="btn btn-primary" style="background-color:#1c834f">Accept</button>
                    </td>
                    <td rowspan=2>
                      <button type="button" (click)="decline(request.username)" class="btn btn-primary" style="background-color:#791c1c">Decline</button>
                    </td>
                  </table>
                </div>
              </div>
            </div>
      </tab>
      <tab heading="Reserved tickets">
        <div *ngFor="let cmr of currentMovieReservations">
          <p>{{cmr.id}}</p>
        </div>
        <div *ngFor="let csr of currentShowReservations">
            <p>{{csr.id}}</p>
        </div>
      </tab>
      <tab heading="Past visits">
        <div *ngFor="let pmr of pastMovieReservations">
            <p>{{pmr.id}}</p>
          </div>
          <div *ngFor="let psr of pastShowReservations">
              <p>{{psr.id}}</p>
          </div>
      </tab>
    </tabset>
  </div>
</div>
