<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-0 col-sm-12">
        <div class="jumbotron">
          <div class="h3 text-center">
            Profile picture
          </div>
          <div class="h2 text-left">Name</div>
        </div>
      </div>
    </div>
    <tabset [justified]="true">
      <tab heading="About">User info</tab>
      <tab heading="Friends">Friends</tab>
      <tab heading="Reserved tickets">All reserved tickets</tab>
      <tab heading="Past visits">All previous visits</tab>
    </tabset>
  </div>
</div>
