<div class="container">
  <h1>Add new movie</h1>
  <form [formGroup]="form" (ngSubmit)="register()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        formControlName="name"
        id="name"
        placeholder="Name..."
        type="text"
        class="form-control">
      <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
        <div id="nameRequiredError" *ngIf="name.errors.required; else firstNameMinLength">
          The name is required!
        </div>
        <ng-template #firstNameMinLength>
          <ng-container *ngIf="name.errors.minlength">
            <div id="nameMinimumLengthError">
              Minimum length is {{name.errors.minlength.requiredLength}} characters.
            </div>
          </ng-container>
        </ng-template>
      </div>
    </div>

    <div class="form-group">
      <label for="director">Director</label>
      <input
        formControlName="director"
        id="director"
        placeholder="Director..."
        type="text"
        class="form-control">
      <div *ngIf="director.touched && director.invalid" class="alert alert-danger">
        <div id="directorRequiredError" *ngIf="director.errors.required">
          The director is required!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="genre">Genre</label>
      <input
        formControlName="genre"
        id="genre"
        placeholder="Genre..."
        type="text"
        class="form-control">
      <div *ngIf="genre.touched && genre.invalid" class="alert alert-danger">
        <div id="genreRequiredError" *ngIf="genre.errors.required">
          The genre is required!
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="actors">Actors</label>
      <input
        formControlName="actors"
        id="actors"
        placeholder="Actors..."
        type="text"
        class="form-control">
      <div *ngIf="actors.touched && actors.invalid" class="alert alert-danger">
        <div id="actorsRequiredError" *ngIf="actors.errors.required">
          Actors are required!
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="runtime">Runtime</label>
      <input
        formControlName="runtime"
        id="runtime"
        placeholder="Runtime..."
        type="text"
        class="form-control">
      <div *ngIf="runtime.touched && runtime.invalid" class="alert alert-danger">
        <div id="runtimeRequiredError" *ngIf="runtime.errors.required">
          The runtime is required!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input
        formControlName="description"
        id="description"
        placeholder="Description..."
        type="text"
        class="form-control">
      <div *ngIf="description.touched && description.invalid" class="alert alert-danger">
        <div id="descriptionRequiredError" *ngIf="description.errors.required; else descriptionMinLength">
          The description is required!
        </div>

        <ng-template #descriptionMinLength>
          <ng-container *ngIf="description.errors.minlength">
            <div id="descriptionMinimumLengthError">
              Minimum length is {{description.errors.minlength.requiredLength}} characters.
            </div>
          </ng-container>
        </ng-template>

      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!form.valid" >Register</button>

  </form>
</div>
