<div class="row">
  <div class="block" style="padding-left: 100px">
    <h1>{{cineter.name}}</h1>
    <div class="picture text-center">Photo of cineter</div>
      <br/>
      <br/>
      <br/>
      <!--img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"-->
      <br>
  </div>

  <div class="block">
    <h3>{{cineter.address}} </h3>
    <h3> {{cineter.city}}</h3>
    <h3>Rate: </h3>

    <br/>
    <br/>

    <!-- ako je admin pozorista-->
    <div class="options" style="width:400px">
      <div *ngIf="cineter.isTheater">
        <button (click)="Change(i)"  class="btn btn-primary">Change</button>
        <button (click)="AddShow(i)"  class="btn btn-primary">Add shows</button>
        <button (click)="ViewAllShows(i)"  class="btn btn-primary">View all show</button>
      </div>
    </div>

    <!-- ako je admin bioskopa-->
    <div class="options2" style="width:400px">
      <div *ngIf="!cineter.isTheater">
        <button (click)="Change(i)"  class="btn btn-primary">Change</button>
        <button (click)="AddMovie(i)"  class="btn btn-primary">Add movie</button>
        <button (click)="ViewAllMovies(i)"  class="btn btn-primary">View all movies</button>
      </div>
    </div>

    <br>

  </div>
</div>
