<div class="container">
  <h1>Add new Movie screening</h1>
  <form [formGroup]="form" (ngSubmit)="register()">
    <div class="form-group">
      <label>Date</label>
      <input
        formControlName="date"
        id="date"
        placeholder="Date..."
        type="date"
        class="form-control">
    </div>

    <label>Price</label>
    <input
      formControlName="price"
      id="price"
      placeholder="price..."
      type="number"
      class="form-control">
    <div *ngIf="price.touched && price.invalid" class="alert alert-danger">
      <div id="numberRequiredError" *ngIf="price.errors.required;">
        The number is required!
      </div>
    </div>

    <div class="form-group">
      <label>Type</label>
      <input
        formControlName="type"
        id="type"
        placeholder="Type..."
        type="text"
        class="form-control">
    </div>

    <br/>
    <select style="margin: 20px" (change)="onChange($event.target.selectedIndex)">
      <option *ngFor="let h of halls" [ngValue]="item" > Hala: {{h.number}}</option>
    </select>

    <br/>

    <button type="submit" class="btn btn-success" [disabled]="!form.valid" >Register</button>

  </form>
</div>
