<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Rate Cineter {{name}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="panel panel-default panel-table">
          <div class="panel-body">
            <table class="table table-striped table-bordered table-list">
              <thead>
              <tr>
                <th>Cineter Name</th>
                <th>Ocena</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td >{{name}}</td>
                <td><input type="number" [(ngModel)]="rate"/></td>
                <td>
                </td>
              </tr>
              </tbody>
            </table>
            <button class="btn btn-danger" (click)="Rate()">Send offer</button>
          </div>
        </div>

    </div>
  </div>
</div>
