<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Account_id</th>
    <th scope="col">Prop name</th>
    <th scope="col">Prop Description</th>
    <th scope="col">Prop Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of requests">
    <td>{{i.id}}</td>
    <td>{{i.account.name}}</td>
    <td>{{i.props.name}}</td>
    <td>{{i.props.description}}</td>
    <td>{{i.props.price}}</td>
    <td> <button (click)="AcceptRequest(i)"  class="btn btn-success" >Accept</button> </td>
    <td> <button (click)="DeleteRequest(i)"  class="btn btn-success" >Deny</button> </td>
  </tr>


  </tbody>
</table>
