<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">City</th>
    <th scope="col">Is theater</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of cineters">
    <td>{{i.id}}</td>
    <td>{{i.name}}</td>
    <td>{{i.address}}</td>
    <td>{{i.city}}</td>
    <td>{{i.isTheater}}</td>


    <td> <button (click)="ChangeCineter(i)"  class="btn btn-success" >{{changeText}}</button> </td>
    <td> <button (click)="DeleteCineter(i)"  class="btn btn-success" >Delete</button> </td>

    <td> <button (click)="ShowProps(i)"  class="btn btn-success" >Props</button> </td>
    <td> <button (click)="SellProps(i)"  class="btn btn-success" >Sell props</button> </td>
  </tr>


  </tbody>
</table>
