<div class="container">
    <tabset [justified]="true">
        <tab *ngFor="let i of [0,1,2,3,4,5,6]" heading="{{getDate(i)}}">
          <div id="all-movies-container" class="movies-showing">
            <div *ngFor="let movie of movies_cineter_id" class="movie" id="movie_{{movie.id}}">
              <div class="movie-details">
                <div class="movie-poster">
                    <!--img src={{i.image}} class="user-image" *ngIf="i.image"-->
                    <img src="../../../assets/images/userprofile.png" alt={{movie.name}}>
                </div>
                <div class="movie-info">
                  <a href="." class="title"><span class="title-container">{{movie.name}}</span></a>
                  <div class="info">
                    <ul class="film-title">
                      <li class="lbl">
                        Name:
                      </li>
                      <li>
                        {{movie.name}}
                      </li>
                    </ul>
                    <ul class="director">
                      <li class="lbl">
                        Director:
                      </li>
                      <li>
                        {{movie.director}}
                      </li>
                    </ul>
                    <ul class="genre">
                        <li class="lbl">
                          Genre:
                        </li>
                        <li>
                          {{movie.genre}}
                        </li>
                      </ul>
                      <ul class="Roles">
                          <li class="lbl">
                            Roles:
                          </li>
                          <li>
                            {{movie.actors}}
                          </li>
                        </ul>
                        <ul class="Duration">
                            <li class="lbl">
                              Duration:
                            </li>
                            <li>
                              {{movie.runtime}}
                            </li>
                          </ul>
                  </div>
                </div>
              </div>
              <div class="schedule-shows showed">
                  <div class="dateofprojection">
                    DATUM
                  </div>
                  <div>
                    <div class="schedule-format">
                      <div class="shows" *ngFor="let i of getPerformances(movie.id)">
                        <div class="time"> <!-- add ngfor-->
                          <a role="button" onclick="Reserve(movie.projection)">00:00</a>
                          <div class="price">
                            200 RSD
                            </div>
                        </div>
                        <div class="time"> <!-- add ngfor-->
                          <a role="button" onclick="Reserve(movie.projection)">00:00</a>
                          <div class="price">
                              200RSD
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </tab>
    </tabset>
</div>
