<div class="container">

  <form [formGroup]="form">
    <h1>Change password</h1>
    <label for="oldPassword">Old Password</label>
    <input
      formControlName="oldPassword"
      id="oldPassword"
      placeholder="oldPassword..."
      type="password"
      class="form-control">
    <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
      <div id="oldPasswordRequiredError" *ngIf="oldPassword.errors.required;">
        The oldPassword is required!
      </div>
    </div>

    <label for="newPassword">New Password</label>
    <input
      formControlName="newPassword"
      id="newPassword"
      placeholder="newPassword..."
      type="password"
      class="form-control">
    <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
      <div id="newPasswordRequiredError" *ngIf="newPassword.errors.required;">
        The newPassword is required!
      </div>
    </div>

    <label for="confirmPassword">Confirm Password</label>
    <input
      formControlName="confirmPassword"
      id="confirmPassword"
      placeholder="confirmPassword..."
      type="password"
      class="form-control">
    <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
      <div id="confirmPasswordRequiredError" *ngIf="confirmPassword.errors.required;">
        The confirmPassword is required!
      </div>
    </div>

    <button type="submit" class="btn btn-success" (click)="changePassword()" [disabled]="!form.valid" >Confirm</button>

  </form>

</div>
