<nav class="navbar-darkblue">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">

      <!-- start of navbar left-->
      <ul class="nav navbar-nav navbar-left">

        <!-- start of home option -->
        <li class="navbar-home">
          <a routerLinkActive="active" routerLink="/home">
            <span class="fa fa-home fa-lg"></span>
          </a>
        </li>
        <!-- end of home option -->
      </ul>
      <!-- end of navbar left -->


      <!-- start of navbar right -->
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-personal-dropdown" dropdown>
          <a href dropdownToggle (click)="false">
            {{ jwtService.getUsernameFromToken() }}
            <span class="fa fa-caret-down"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" id="dropdownMenuPersonal">
            <li>
              <a routerLink="/profile">
                <span class="fa fa-user"></span> Profile
              </a>
            </li>
            <li *ngIf="jwtService.tokenExist()">
              <a (click)="logout()">
                <span class="fa fa-sign-out"></span> Sign out
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- end of navbar right -->
    </div>
  </div>
</nav>
